@inherits LayoutComponentBase
<div class="container-fluid" style="position:absolute; bottom:auto;top:auto;left:0;right:auto;">
    <div class="position-absolute top bg-opacity-50 start-50 translate-middle align-content-center">
        <div class="d-flex" style="margin-top:550px">
            @Body
        </div>
    </div>
</div>

