
<div class="d-flex justify-content-evenly mb-1">
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="80px"></SfSkeleton>
</div>
<SfSkeleton Shape="SkeletonType.Text" Height="25px" Width="100%"></SfSkeleton>
