<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EventMonitoring.ph.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" asp-append-version="true" rel="stylesheet" />
    <link href="node_modules/fontawesome-4.7/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
    <link href="node_modules/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />  

    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/css/style.css" />
    <link rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/icon/materialdesignicons.min.css" />
    <link rel="stylesheet" href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" />
    <link rel="stylesheet" src="_content/MudBlazor/MudBlazor.min.css" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="node_modules/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script> 


    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src="_content/NetcodeHub.Packages.Components.Modal/modal.js" type="text/javascript"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/base.js" type="text/javascript"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/settings.js"></script>
    <script src="_framework/blazor.web.js"></script>

</body>

</html>
