@page "/EventLine/Details/{Id:int}"
@using EventMonitoring.ph.ViewModels
@using codegeneratorlib.Helpers
@using EventMonitoring.ph.Components.Pages.content
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;

<PageTitle>Details Page</PageTitle>
<ThreeSectionsTemplate>
    <Col9Template>
        <NetcodeHubBreadCrumb BreadCrumbs="crumbs" ReloadPageOnClick="true" BackgroundColor="@BreadCrumbBackgroundColor.SecondarySubtle()" />
        <MudBlazor.MudDivider class="mt5" />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">               
                <div class="x_content" style="margin-top:30px;">
				
					<div class="col-md-12 col-sm-12 col-xs-12">
					<dl class="row">
						<dt class="col-sm-3">Event Line Name:</dt>
						<dd class="col-sm-9">@oEventLineVM.EventLineName</dd>

					</dl>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<a href="/EventLine/Index" class="btn btn-danger btn-custom float-md-end">Back To List</a>
						<a href="/EventLine/Update/@Id" class="btn btn-primary btn-custom float-md-end">Update Details</a>
					</div>
                </div>
            </div>
        </div>
    </div>
		    </Col9Template>
    <Col3Template>
        <Banner />
    </Col3Template>
    <FooterTemplate><Footer /></FooterTemplate>
</ThreeSectionsTemplate>

@code {
	[Parameter]
	public int Id { get; set; }
	private EventLineVM oEventLineVM = new();
	private Dictionary<string, string> crumbs = new Dictionary<string, string>()
    {
        {"Home", "/"},
        {"EventLine Details", null!}
    };
	protected override async Task OnInitializedAsync()
	{
		var restService = new RestService<EventLineVM>();
		//var json = JsonConvert.SerializeObject(search);
		var result = new ServiceModel<EventLineVM>();
		result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/EventLines/GetById/{Id}");
		if (!result.IsSuccess)
		{
			NavigationManager.NavigateTo("/EventLine/Index");
		}
		else
		{
			oEventLineVM = result.Data;
		}
	}
}
