<a class="sidebar-brand brand-logo mb-5" href="app/home">
    <img src="/Logo.png" alt="CCMC" style="width:80px;height:70px" />
</a>

<a class="sidebar-brand brand-logo-mini p-lg-4 pt-3" href="app/home">
    <img src="/Logo.png" alt="CCMC" style="width:80px;height:70px" />
</a>

@code {

}
