@using Microsoft.AspNetCore.Components.Authorization
@using codegen.Extensions
<AuthorizeView>
    <li class="nav-item mt5">
        <a class="nav-link" href="app/home">
            <i class="mdi mdi-home menu-icon"></i>    
            <span class="menu-title">Home</span>
        </a>
    </li>
</AuthorizeView>
<AuthorizeView Policy="AdministrationPolicy">
    @if (CanManageUser)
    {
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#expand-user" aria-expanded="false" aria-controls="">
                <i class="mdi mdi-account-settings menu-icon fs-4"></i>
                <span class="menu-title">User Management</span>

                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="expand-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('administration/account/users/create', 2000)">
                            Create User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('administration/account/users/manage', 2000)">
                            Manage User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('', 2000)">
                            Manage User Role
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('', 2000)">
                            Manage User Menu
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#expand-event" aria-expanded="false" aria-controls="">
                <i class="mdi mdi-account-settings menu-icon fs-4"></i>
                <span class="menu-title">Event Management</span>

                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="expand-event">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('EventLine/Index', 1500)">
                            Event Line
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('EventTitle/Index', 1500)">
                            Event Title List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('EventAudience/Index', 1500)">
                            Audience List
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#expand-product" aria-expanded="false" aria-controls="">
            <i class="mdi mdi-cube menu-icon fs-4"></i>
            <span class="menu-title">Report Management</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="expand-product">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:nv('EventReport/Index', 1500)">
                        View Report
                    </a>
                </li>
            </ul>
        </div>
    </li>
</AuthorizeView>
<AuthorizeView Policy="@Policy.UserPolicy">
    <li class="nav-item">
        <a class="nav-link" href="javascript:nv('app/home', 1500)">
            <i class="mdi mdi-cube-unfolded menu-icon"></i>
            <span class="menu-title">Events</span>
        </a>
    </li>
</AuthorizeView>
<AuthorizeView>
    <MudBlazor.MudDivider class="mt5"/>
    <li class="nav-item sidebar-actions">
      <div class="nav-link">
          <div>
              <div class="border-none">
                  <p class="text-black">System Info</p>
              </div>
              <ul class="mt-4 pl-0">
                  <li>
                      <a>Version 1.0.0</a>
                  </li>
              </ul>
          </div>
      </div>
    </li>
</AuthorizeView>
@code {
    [CascadingParameter] 
    public Task<AuthenticationState> myState { get; set; }
    bool CanManageUser = false;
    protected async override Task OnInitializedAsync()
    {
       CanManageUser = customAuthorizationService.CustomClaimChecker((await myState!).User, DefaultClaims.ManageUser);
    }
}