@using Microsoft.AspNetCore.Components.Authorization

<li class="nav-item nav-profile dropdown border-0">
    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-account-circle nav-profile-img mr-2 text-light"></i>
        <span class="profile-name">@Name</span>
    </a>
    <div class="dropdown-menu navbar-dropdown w100" aria-labelledby="profileDropdwon">
        <div class="" style="padding:10px;">
            <a class="tex-danger nav-link fw-bold text-danger" href="/account/users/profile"><i class=""></i>Profile</a>
            <a class="tex-danger nav-link fw-bold text-danger" href="/Account/Logout"><i class="bi bi-arrow-right"></i> Logout</a>
        </div>  
        @* <a class="dropdown-item"> </a> *@
    </div>
</li> 

@code {
    [CascadingParameter] 
    public Task<AuthenticationState> UserState { get; set; }
    string Name;
    protected override async Task OnInitializedAsync()
    {
        Name = (await UserState!).User.Claims.FirstOrDefault(_ => _.Type == "Name")?.Value;
    }
}
